.blBox{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px !important;
    margin-bottom: 15px;
    padding: 10px 5px;
}

.uniqueCode{
    font-size: 18px !important;
    color: #28a745;
}

.table{
    font-size: 14px !important;
}

.form-control{
    font-size: 0.8rem !important;
    height: calc(2rem + 2px);
}